/* ============= VARIABLES ============= */

:root {
  /* iris */
  --primary-brand: #4d5ae5;

  /* ocean */
  --pressed-state: #404bbf;

  /* navy blue */
  --dark: #2e2f42;

  /* green */
  --success: #31d0aa;

  /* slate */
  --text: #434455;

  /* light slate */
  --subtle-text: #8e8f99;

  /* cornflower */
  --accent: #e7e9fc;

  /* cloud */
  --light: #f4f4fd;

  /* navy blue modal */
  --modal-overlay: #2e2f42;

  /* grey */
  --hero-background: #2e2f42;

  /* white */
  --white-text: #ffffff;
  --white-background: #ffffff;

  /* dairy */
  --modal-background: #fcfcfc;
}

/* ============= /VARIABLES ============= */

/* ============= COMMON STYLES ============= */

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--text);
  background-color: var(--white-background);
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.accent-color {
  color: var(--primary-brand);
}

/* ============= /COMMON STYLES ============= */

/* ================ COMPONENTS ================ */

.section-title {
  text-align: center;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;

  color: var(--dark);
}

/* ================ /COMPONENTS ================ */

/* ================ TOOLS ================ */
/* ================ /TOOLS ================ */

/* ============= PAGE HEADER ============= */

.page-logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: var(--primary-brand);
}

.page-logo-accent {
  color: var(--dark);
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--dark);
}

.menu-link-current {
  color: var(--primary-brand);
}

.page-address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--text);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state);
}

/* ============= /PAGE HEADER ============= */

/* ================ HERO ================ */

.page-hero {
  background-color: var(--hero-background);
}

.page-hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;

  color: var(--white-text);
}

.page-hero-btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  color: var(--white-text);
  background-color: var(--primary-brand);
}

.page-hero-btn:hover,
.page-hero-btn:focus {
  background-color: var(--pressed-state);
}

/* ================ /HERO ================ */

/* ================ Features ================ */

.features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  color: var(--dark);
}

/* ================ /Features ================ */

/* ================ What are we doing ================ */
/* Just pictures */
/* ================ /What are we doing ================ */

/* ================ Our Team ================ */

.section-team {
  background-color: var(--light);
}

.team-item {
  background-color: var(--white-background);
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  color: var(--dark);
}

.team-text {
  font-size: 16px;
}

/* ================ /Our Team ================ */

/* ================ Portfolio ================ */

.portfolio-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  color: var(--primary-brand);
  background-color: var(--light);
}

.portfolio-btn-selected {
  color: var(--white-text);
  background-color: var(--pressed-state);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text);
  background-color: var(--pressed-state);
}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;

  color: var(--dark);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;

  color: var(--text);
}

/* ================ /Portfolio ================ */

/* ================ Footer ================ */

.page-footer {
  background-color: var(--dark);
}

.page-footer-text {
  color: var(--light);
}

/* ================ /Footer ================ */
